.tags-title{
    font-size: 23px;
    color: rgb(37, 37, 37);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tags-line{
    width: calc(100% - 60px);
    margin: 10px 30px;
    background-color: rgb(187, 185, 185);
    height: 1px;
}
.tags-container{
    padding: 10px;   
}
.tagscroll{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tags{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% - 100px);
    border-left: 1px solid #EEEEEE ;
    border-right: 1px solid #EEEEEE ;
    /* padding: 0px 10px; */
    scroll-behavior: smooth;
}

.tag-item{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 18px;
    color: rgb(88, 87, 87);
    background-color: rgba(189, 184, 184, 0.596);
    cursor: pointer;
    margin: 0px 10px;
    padding: 10px 20px;
    width: fit-content;
    display: inline-block;
    white-space: nowrap;
}
.left-angle{
    background-color: grey;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.right-angle{
    background-color: grey;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}